.bground {
      background: #E5E2E1;
}
.line {
      border-left: 2px solid #ccc; /* Параметры линии */
      margin-left: 20px; /* Отступ слева */
      padding-left: 10px; /* Расстояние от линии до текста */
}
